@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}
.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}
.navbar{
    border-bottom: 1px solid #5F2AFE;
}
.logo{
    height: 50px;
}
h2{
    font-weight: 600;
}
h3{
    font-weight: 700;
}
/** scollbar behavior & color **/
*::-webkit-scrollbar {
    width: 15px;
}
*::-webkit-scrollbar-track {
    background: #000000;
}
*::-webkit-scrollbar-thumb {
    background-color: #2B02A8;
    border-radius: 20px;
    border: 3px solid #000000;
}
/*******************************/
/*
    About Section
*/
.About{
    width: 90%;
    margin: 150px auto;
}
.mypic{
    border-radius: 100%;
    height: 150px;
}
.social-links a{
    padding: 0 0.3em;
    text-decoration: none;
}
.social-links a img{
    height: 30px;
    transition: ease-in-out 0.33ms;
}
.social-links a img:hover{
    height: 32px;
}
.skill_txt{
    color: #5F2AFE;
    font-size: 1.3em;
    letter-spacing: 0.1em;
}
.userinfo{
    line-height: 1.5em;
}

/* progress bars */
.Skill-bars p{
    margin: 0.5em 0 0.5em 0;
}
.skill-bar{
	background-color: #bdc9ea;
	border-radius: 16px;
}
.progress-bar{
	padding: 0.1em 16px;
	border-radius: 16px;
	text-align: center;
	color: white;
	background-color: #2B02A8;
}
.title{
	position: absolute;
	left: 15px;
	bottom: 0;
}
/******************/
/*
    Service (What i can do) Section
*/
.services{
    width: 90%;
    margin: 200px auto;
}
hr{
    color: #5F2AFE;
    width: 100px;
    border: 2px solid;
    margin: 0 auto;
}

.services .row{
    margin: 55px auto;
}
.main-title{
    margin-top: 40px;
}
.main-title h4{
    color: #5F2AFE;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}
.main-title p{
    width: 80%;
    font-size: 15px;
}
.services img{
    height: 250px;
}
/*
    Portfolio Section
*/
.gallery{
    margin: 100px auto 200px;
}
.box{
    width: 70%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em 0;
    border: 1px solid #4b4a4a;
    color: #6d6d6d;
}
.box .links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box .links a{
    margin: 10px 0 3px 0;
    color: #918b8b;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.box .links a:hover{
    color: #5F2AFE;
}
/*
    Client Review 
*/
.Client-review{
    width: 90%;
    margin: 200px auto;
    text-align: center;
}
.client-says p{
    color: #d6ddf0;
    width: 60%;
    margin: 0 auto 7px;
    font-size: 15px;
}
.client-says span{
    color: #5F2AFE;
    font-weight: 600;
}
/*
    Contact Form
*/
.contact-form-box{
    width: 55%;
    margin: 70px auto;
}
.form-control{
    margin-bottom: 5px;
    outline: none;
    border: none;
    background: #5f2afe8a;
    border-radius: 5px;
}
.form-control::placeholder{
    color: #bdc9ea;
}
.form-btn{
    padding: 3px 27px;
    background: #2B02A8;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 5px;
}
.form-btn:hover{
    background: rgb(32, 1, 124);
}
/*
    Footer
*/
footer{
    text-align: center;
    color: whitesmoke;
    background: #0c0b0b;
    padding: 5px 0;
}
footer span{
    color: #5F2AFE;
}
/*** For Responsive site ***/
@media (max-width:768px){
    .userinfo{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .services img{
        height: 200px;
    }
    .main-title p{
        width: 90%;
    }
    .box{
        height: 40%;
    }
    .client-says p{
        width: 80%;
    }
    .contact-form-box{
        width: 90%;
    }
}
@media (max-width:425px){
    .userinfo{
        text-align: center;
    }
    .services img{
        height: 150px;
    }
    .main-title p{
        width: 80%;
    }
    .box{
        height: 40%;
        width: 90%;
    }
    .box h4{
        font-size: 0.5em;
        text-align: center;
    }
    .box a{
        font-size: 0.7rem;
    }
    .client-says p{
        width: 90%;
    }
}
